<div class="box-shadow-for-ui">
    <div class="uou-block-2b">
      <div class="container"> <a class="logo"><img src="assets/images/logo.png" alt=""></a> <a href="#"
          class="mobile-sidebar-button mobile-sidebar-toggle"><span></span></a>
        <nav class="nav">
          <ul class="sf-menu">
            <li class="active"><a ><i class="fa  fa-home"></i></a></li>
            <li> <a routerLink="entreprise">Entreprise</a> </li>
            <li> <a routerLink="offre">Offres</a> </li>
            <li> <a >User Profile</a></li>
            <li><a >Blog</a></li>
            <li><a >GUI KIT</a></li>
           
          </ul>
        </nav>
      </div>
    </div>
    <!-- end .uou-block-2b -->
  </div>