

<body>
<div id="main-wrapper"> 
  
        <app-top-toll-bar></app-top-toll-bar>
        <!-- end toolbar -->
    
       <app-toll-bar (added)="navEntreprise()" [value]="v" ></app-toll-bar>
  <!-- HOME PRO-->
  <router-outlet></router-outlet>
</div>

<!-- Footer -->

<!-- end .uou-block-4e -->
<div >
        <div class="uou-block-4a secondary dark"  >
                <div class="container ">
                  <ul class="links">
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Terms &amp; Conditions</a></li>
                  </ul>
                  <p>Copyright &copy; 2015 <a href="#">UOUAPPS</a>. All Rights reserved.</p>
                </div>
              </div>
</div>

<!-- end .uou-block-4a -->



</body>
